<!-- app/views/admin/cocktails/index.html.erb -->
<div class="banner"><h1>Welcome to David's Dastardly Drinks</h1></div>
<% @cocktails.each do |cocktail| %>
  <h2><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h2>
  <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
  <p><%= link_to "Delete", cocktail_path(cocktail), method: :delete %></p>
<% end %>
<h3><%= link_to "Create a new scrumptious cocktail!", new_cocktail_path %></h3>
